* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Playfair Display", serif;
}

@media only screen and (max-width: 1300px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 300px) {
  html {
    font-size: 40%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(23, 23, 23);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* --- Fonts --- */

/*     
font-family: 'Bad Script', cursive;    --- H1 Name text
font-family: 'Playfair Display', serif;  --- Usual Font
*/
